@tailwind base;
@tailwind components;
@tailwind utilities;

/* @import url('https://fonts.googleapis.com/css2?family=Galada&display=swap'); */

:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
}

body {
  margin: 0;
  padding: 0;

  background: rgb(251, 230, 64);
  background: linear-gradient(
    176deg,
    rgb(251, 232, 64) 20%,
    rgb(247, 185, 51) 54%,
    rgb(247, 113, 23) 97%
  );

  min-height: 100vh;
  margin: 0;
  display: flex;
  flex-direction: column;
}
/* 
/* Estilo para el color de las flechas de un input type="number" */
/* input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
  -webkit-appearance: none; /* Elimina las flechas predeterminadas */
  /* margin: 0;
} */ 

/* input[type="number"] {
  -moz-appearance: textfield; // Firefox no usa el prefijo de webkit, así que se usa para ocultar las flechas 
} */

/* Cambiar el color de las flechas en navegadores basados en Webkit */
/* input[type="number"]::-webkit-upward-button,
input[type="number"]::-webkit-downward-button {
  color: rgb(247, 247, 71); 
} */


